@{
    ViewData["Title"] = "Twilio MVC Template for ASP.NET Core 2.1";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is a template for starting new Twilio MVC projects.</p>
<p>It has the basic Twilio Account details already included and set up.</p>
<p>Check out this blog on <a href="https://www.twilio.com/blog/2018/05/user-secrets-in-a-net-core-web-app.html" target="_blank">UserSecrets</a> for more info</p>
<p>Check out this <a href="https://github.com/TwilioDevEd/sdk-starter-dotnet-core" target="_blank">repo</a> for a Twilio starter project.</p>
